# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://fin_admin:pgpwd4habr@localhost:5432/finance_app?schema=public"
ACTIVATION_SECRET = 35874685397405389476
SMTP_HOST = smtp.gmail.com
SMTP_SERVICE = gmail
SMTP_MAIL = "your@gmail.com"
SMTP_PASSWORD = ''